logging = {
	file="/home/folkert/temp/myip.log";
	level_file="debug";
	level_screen="debug";
}

environment = {
	chdir-path="/tmp"
	run-as=0
	run-in=0

	#ifup=
	#ifdown=
}

# one can have multiple network interfaces
interfaces = ( {
	# either slip or ethernet
	type="ethernet"

	# serial port for slip or name of (new) ethernet device
	dev-name="myip"

	ipv4 = {
		my-address="192.168.3.2";
		gateway-mac-address="42:20:16:2b:6f:9b";

		use-icmp=true;
		use-tcp=true;
		use-udp=true;
	}

	mac-address="52:34:84:16:44:22";

	ipv6 = {
		my-address="2001:980:c324:4242:f588:20f4:4d4e:7c2d";

		use-icmp=true;
		use-tcp=true;
		use-udp=true;
	}
})

ntp = {
	upstream-ip-address="192.168.64.1";
	port=123;
}

http = {
	web-root="/home/folkert/Projects/myip/www";
	web-logfile="/home/folkert/temp/http_access.log";
	port=80;
}

vnc = {
	port=5900;
}

mqtt = {
	port=1883;
}

sip = {
	sample="/home/folkert/Projects/myip/test.wav";
	mb-path="/home/folkert/temp";
	mb-recv-script="/home/folkert/Projects/myip/mb-recv.sh";
	upstream-sip-server="192.168.64.1";
	upstream-sip-user="1234";
	upstream-sip-password="1234";
	sip-register-interval=15;
	port=5060;
}

snmp = {
	port=161;
}

syslog = {
	port=514;
}
