logging = {
	file="/tmp/myip.log";
	level_file="debug";
	level_screen="debug";
}

environment = {
	chdir-path="/tmp"
	run-as=0
	run-in=0

	#ifup=
	#ifdown=
}

# one can have multiple network interfaces
interfaces = ( {
	# either slip, ppp, udp, promiscuous (for existing interfaces) or tap
	type="kiss"

	# device name (ethernet)
	dev-file="/dev/ttyUSB0"

	baudrate=115200

	ipv4 = {
		my-address="192.168.3.2";
		gateway-mac-address="42:20:16:2b:6f:9b";

		use-icmp=true;
		use-tcp=true;
		use-udp=true;
		use-sctp=true;
	}

	mac-address="52:34:84:16:44:22";

	ipv6 = {
		my-address="2001:980:c324:4242:f588:20f4:4d4e:7c2d";

		use-icmp=true;
		use-tcp=true;
		use-udp=true;
		use-sctp=true;
	}
}
)

http = {
	web-root="/root/myip/www";
	web-logfile="/root/myip/http_access.log";
	port=80;
}

nrpe = {
	port=5666;
}

vnc = {
	port=5900;
}

mqtt = {
	port=1883;
}

snmp = {
	port=161;
}

syslog = {
	port=514;
}
